.cm-cursorLayer {
    animation: none !important;
}

.theme-light .cm-fat-cursor {
  background-color: #000000 !important;
  opacity: 1.0;
}

.theme-dark .cm-fat-cursor {
  background-color: #00ff00 !important;
  opacity: 0.7;
}